@{
    ViewData["Title"] = "Главная";
}

<div style="margin-top:90px">
    <h1>Welcome @ViewData["UserDisplayName"] to the TaskManager MinimalApp</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
