@model WorkTaskCreateVM


<div class="row">
    <div class="col-md-12">
        <form id="create-task-form" method="post">
            @* hx-post="/task/update/@Model.Id" hx-target="#update-task-content" *@
            @* htmx for returning form if it has problems with validation *@
            @* //TODO will find another way *@
            <div asp-validation-summary="All" class="text-danger"></div>
            @* <p class="text-success" margin-bottom:15px;">@TempData["CreatedTaskNotification"]</p> *@
            <div class="form-group">
                <label asp-for="Title">Title:</label>
                <input asp-for="Title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PlannedDateTime">Planned complete:</label>
                <input type="datetime-local" asp-for="PlannedDateTime" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FactedTimeSpan">Planned work hours</label>
                <input type="number" step="0.1" asp-for="FactedTimeSpan" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
        </form>
    </div>
</div>
